body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.common {

  text-align: center;
  font-size: 1.5em;
}

#jumbo {
  background-color: #2196F3;

}

#jumbo h1  {
  color: white;
}

#jumbo p {
  color: white
}

.options {


  text-align: center;
}

.list {
  background-color: #90CAF9;
  margin: 30px;
  border-radius: 7px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  text-align: center;
  font-size: 2em;
}

#cust {
  text-align: center;
  font-size: 2.3em;
  margin: auto;

}

.wrapper {
  background-color: #90CAF9;
  text-align: center;
   border-radius: 7px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;

}