#bodu {
  background-color: grey;
}

.background {
  background-color: FFCF99;
}

.common {

  text-align: center;
  font-size: 1.25em;
}

#jumbo {
  background-color: #904C77;
}

#jumbo h1  {
  color: white;
}

#jumbo p {
  color: white;
}

.options {
  background-color: #FFC07F;
  border-radius: 7px
}

#name_cust {
  background: transparent;
  border: none;
}

#phone_num {
  background: transparent;
  border: none;
}