<!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>
 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lunchbox</title>

			<body>

			<p id="cust"> Thank you for ordering </p>




      </body>
</html>