<!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>
 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lunchbox</title>
      <meta charset="utf-8">
       <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    </head>

			<body>
         <div class="jumbotron text-center" id="jumbo">
  <h1>LunchBox</h1>
  <p>Get your lunchbox in two steps!</p>
</div>

<div class="common">
			<p id="cust"> Thank you for ordering </p>
      <p>Your food will be ready in 30 minutes and we will give you a courtesy text when it is done</p>
      <p>Our adress is at 123 Pepperdine Way beside the bookstore</p>
      </div>




      </body>
</html>