<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lunchbox</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Hello World!</h1>
    <p> just checking </p>
    <p> more checking </p>


    <form id="dish" method="POST" action="/orders/new">
      
    <input type="radio" name="dishes" value="meat"> 
    <input type="radio" name="dishes" value="meat"> 
    <input type="radio" name="dishes" value="meat"> 

    <input type="submit" name="newOrder" value="done">

    <input id="phoneNum" type="text" name="phone" value="phone number">
    <input id="custName" type="text" name="name" value="name">



    </form>


    </div><br>
  
    <div><a href="/">Shorten a url here! I hope. </a></div>


  </body>
</html>
