<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lunchbox</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Lunchbox</h1>
    <p> Pick your delicious order here!</p>
    <p>You have a choice of:


    <form id="dish" method="POST" action="/orders/new">
    <p>Meat</p>
    <input type="radio" name="meal_id" value=1>
    <p>Veggie</p>
    <input type="radio" name="meal_id" value=2>
    <p>Gluten Free</p>
    <input type="radio" name="meal_id" value=3>

<<<<<<< HEAD
    <p>Great! Now all you need to do is input your name and phone phone number and we will text you when it is ready to pick up!</p>
=======
    <input type="submit" name="newOrder" value="done">

    <input id="phoneNum" type="text" name="phone" value="phone number">
    <input id="custName" type="text" name="name" value="name">
>>>>>>> 71682a58519af92eaa4babed2469c24824a2b489



    <input id="phoneNum" type="text" name="phone_num" value="phone number" placeholder ="phonenumber">
    <p id="phonewarning"></p>
    <input id="custName" type="text" name="name_cust" value="name"
    placeholder="type name">

    <input type="submit" name="newOrder" value="done">

    </form>


    </div><br>




  </body>
</html>