<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>


	<body>
    <div class="jumbotron text-center" id="jumbo">
      <h1>LunchBox</h1>
      <p>Get your lunchbox in two steps!</p></div>



			<p id="cust"> Here are the orders </p>

	<ul>
	<% for(var i=0; i<orders.length; i++) {%>
	   <li class="list">
	   	<form action="/orders/<%= orders[i].order_id %>/complete" method="POST">
				<%= orders[i].name_cust %><br>
		   	<%= orders[i].phone_num %><br>
		   	<%= orders[i].meal_name %><br>

		   	<input type="submit" name="" value="complete">
	   	</form>

	   </li>

	<% } %>
	</ul>



      </body>
</html>


