<!DOCTYPE html>
<html lang="en">
  <head>

  </head>
    <h2>Restaurant</h2>

	<body>
			<p id="cust"> Here are the orders </p>

	<ul>
	<% for(var i=0; i<orders.length; i++) {%>
	   <li>
	   	<form action="/orders/:id/complete">
				<%= orders[i].name_cust %>		
		   	<%= orders[i].phone_num %>		
		   	<%= orders[i].meal_id %>		

		   	<input type="submit" name="" value="complete">
	   	</form>
	   	
	   </li>

	<% } %>
	</ul>



      </body>
</html>


